
/* styles fo the booking page   */

/* styling the php fragments  */
#bookingPage{
 display: block;
 width:100%;
 background-color: black;
}
#chooseMovie{
  display:block;
  float:left;
  margin-left:20px;
  margin-bottom:20px;
}
#displayMovie{
    display:block;
    float:right;
    margin-right:350px;
}
#ticketChooser{
    display:block;
    clear:left;
}

/* presenting the order details   */
#orderRecord {
    position:relative;
    top:-80px;


    display: block;
    float: right;
    margin-right: 10px;
    background-color: gold;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    counter-reset: fieldsets;
    border-radius: 15px;
    border-width: 15px;
    border-color: #000000;

    width:325px;

}
#orderRecord fieldset {
    border:none;
    padding: 5px 10px;
    margin-bottom: 2px;
}
#orderRecord legend{
    color:black;
}
textarea#displayOrder{
    color:black;
    width: 300px;
    font-size: 1.3em;

}
#orderRecord button {
    /*background: black;*/
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;

    display: block;
    margin: auto;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;


    color: white;
    font-family: 'Muli', sans-serif;
    font-size:1em;

}


#orderRecord button:enabled{
    background-color: black;
    cursor: default;
}

#orderRecord button:enabled:hover {
    -moz-box-shadow: 0 0 20px darkRed;
    -webkit-box-shadow: 0 0 20px darkRed;
    box-shadow: 0 0 20px darkRed;
    cursor: pointer;
}

#orderRecord button:disabled{
    background-color: gray;
    cursor: default;
}
#orderRecord button:disabled:hover {

}


/*!* preserving the order details   *!  */
#selectionRecords{
    display:none;
}

#selectionRecords input{
    background-color: #C67600;
    height:2em;
}