

/* the whole footer pane */
footer{
    display:block;
    width:100%;
    background-color: black;
}

/*line*/
#footerLine{
    position:relative;
    top: 1.2em;
    clear:both;
    height:1px;
    background-color:white;
    border-bottom:1px solid white;
    margin:1em 0;
    overflow:hidden;
}
/*rose*/
#rosePic2{
    display: none;
    float:left;
    width :20px;
    position:relative;
    top:-1em;
    left:1em;
}


/* footer words block   */
#footerNav{
    display:block;
    width:100%;
    height: 2em;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    color: white;
}



#byLine{
    display:block;
    float:left;
    font-size: 0.7em;
    padding-left: 3em;
    margin:auto;
    margin-top:15px;
    color: darkgray;
}

#contactBtn{
    display:block;
    float:right;
    margin:auto;
    margin-right:2em;
    margin-top:5px;

}



/* button workings   */
#contactBtn{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding: .1em;
}

#contactBtn:hover{
    -moz-box-shadow: 0 0 20px darkRed;
    -webkit-box-shadow: 0 0 20px darkRed;
    box-shadow: 0 0 20px darkRed;
    cursor: pointer;
}

#contactBtn a {
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    color: white;
}