/* base styles and pages size */


body{
    background-color:black;
    font-family:'Simonetta', cursive;
    font-size: 1.2em;
    color: white;
}
.page{
    display: block;
    width:1000px;
    margin:0 auto;
    position:relative;
    background-color: black;
}

/* Styles for the web body */
 .headingFragment{
     display: inline;
 }
.mainContent{
    display: block;
}



H2,H1{
    font-family: 'Tangerine', serif;
    font-size: 2em;
    color: Maroon;
}

H1 {
    font-size: 3em;
}


#page1img{
    float:right;
}

/* style for family  */
.theFamily{
    font-family: 'Tangerine', serif;
    font-size: 1.7em;
    color: limegreen;
}


/* bottom of page link  */
.bigLink{
    font-size: 2em;
    color: Red;
}
.bigLink:hover{
    font-size: 2.2em;
    color: gold;
    cursor:pointer;
}



.clearItLeft{
    clear:left;
}
#whatsNew1,#whatsNew2{
    display:block;
    float: right;
    clear:right;
}

#whatsNew3, #whatsNew4{
    display:block;
    float: left;
    clear:left;
    margin-left: 0;
}