




/* style for the header fragment */

header{
     position:relative;
     top:0;
     background-color: black;
     font-family: 'Muli', sans-serif;
     font-size:1em;
     width:100%;
     height:9em;
 }

/* the logo */
#LogoSlogan{
    float:left;
    display:block;
    /*background-color: deeppink;*/
}

/* the navigation pane */
nav{
    display:block;
    float:right;
    position:relative;
    top: 3em;

}
nav, nav ul,nav ul li {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
nav a {
    text-decoration:none;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    color: white;
}
nav ul li{
    display:inline;
    padding:.5em .5em;
}
nav ul li:hover{
    -moz-box-shadow: 0 0 20px darkRed;
    -webkit-box-shadow: 0 0 20px darkRed;
    box-shadow: 0 0 20px darkRed;
    cursor: pointer;
}
/*line*/
#headerLine{
    position:relative;
    top: 1.2em;
    clear:both;
    height:1px;
    background-color:white;
    border-bottom:1px solid white;
    margin:1em 0;
    overflow:hidden;

}
/*rose*/
#rosePic{
    float:right;
    width :20px;
    position:relative;
    bottom:1em;
    right:1em;
}

/*

!* Styles for the web body *!
.headingFragment{
    display: inline;
}
.mainContent{
    display: inline;
}

span{
    font-weight: bold;
}
span, H2,H1{
    font-family: 'Tangerine', serif;
    font-size: 2em;

    color: Maroon     ;
}

H1 {

    font-size: 3em;
}
*/
