

.MovieCard{
    display:block;
    width:310px;
    background-color: white;
    box-shadow: 0 4px 8px 0
            maroon, 0 6px 20px 0
            maroon;
    margin-bottom: 25px;
}

.pic{
    padding-left:5px;
}

.desc{
    color: maroon;
    padding-left:10px;
}

#MovieCards{
    position:relative;
    top:0;
    left:0;
}
.MovieCard {
    position:absolute;
    top:0;
    left:0;

}


.MovieCard{
     display:none;
 }

