
#pickMovieTable{
    background-color:cadetblue;

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding: .1em;
}


td {
    border: 2px solid darkgray;
    border-spacing: 0.5rem;
    padding: 0.5rem;
    text-align:center;
}
th {

    padding: 0.5rem;
    text-align: left;
}
.blankCell {
    border: 0;
    background: cadetblue;
}

tr:nth-child(1) { background:#800000; }
tr:nth-child(2) { background:  #8D1400; }
tr:nth-child(3) { background:   #992900; }
tr:nth-child(4) { background:   #C67600; }
tr:nth-child(5) { background:  #CC8100; }
tr:nth-child(6) { background:  #D38C00; }
tr:nth-child(7) { background:   #D99600; }
tr:nth-child(8) { background: #E6AC00; }
tr:nth-child(9){ background: #F2C200; }
tr:nth-child(10) { background: #8D1400; }




/* specific for screen table  */
#pickMovieTable td{
    max-width: 7em;
}
#kid{
    background: #E6AC00;

}
#for{
    background: #D38C00;
}
#romcom{
    background: #992900;
}
#act{
    background: #800000;
}


/* button workings   */
td:not(.blankCell){
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding: .1em;
}

td:not(.blankCell):hover{
    -moz-box-shadow: 0 0 20px darkRed;
    -webkit-box-shadow: 0 0 20px darkRed;
    box-shadow: 0 0 20px darkRed;
    cursor: pointer;
}





