

/**
 * Sections
 */

#NowShowingPage{
    display: block;
    width:1000px;
    height:2500px;
    margin:0 auto;
    position:relative;
    background-color: black;
}

.section__content {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    display: block;
    clear:both;
    height:500px;
}

/*.clearfix {
    overflow: auto;
    zoom: 1;
}*/

.section__content > h2{
    display:block;
    clear: right;
    /*color:gold;*/
    background-color:black;

    border-bottom:1px solid white;
}



.summary{
    display:inline;
/*    width:80%;
    height:1.3em;*/
    background-color: black;
    color: white;
/*
    position: relative;
    left:1em;
    top:.1em;*/
}


/* flipper button magic  */
.btn {
    display:block;
    width:8em;
    height:3em;
    margin:auto;
    background-color: darkcyan;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding-top:.1em;
}
.btn  a {
    text-decoration:none;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    color: maroon;
}

.btn:hover {
    -moz-box-shadow: 0 0 20px darkRed;
    -webkit-box-shadow: 0 0 20px darkRed;
    box-shadow: 0 0 20px darkRed;
    cursor: pointer;
    background-color: Chocolate;
}


/* The cards */
.card {
    position: relative;
    display:block;
    width: 75%;
    height:60%;
    text-align: center;

    margin-top: 5%;
}
.card p{
    display: block;
    width: 80%;
    height:70%;
    padding-top: 1em;
    text-align: left;
    margin:auto;
}

.romantic{
    float: right;

}

/*Individual cards*/
.act{
    float: left;
}
.kid{
    float: right;
}
.arts{
    margin:auto;
    height:70%;
}

/* card fronts and backs */
.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;

}

.card__front {
    background-color: black;
}

.card__back {
    background-color: black;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);


}

/* card text */
.card__text {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 40px;
    color: #fff;
    font-family: "Roboto Slab", serif;
    line-height: 40px;
}




/* hover effect */
.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);

    -moz-box-shadow: 0 0 20px darkRed;
    -webkit-box-shadow: 0 0 20px darkRed;
    box-shadow: 0 0 20px darkRed;


}

