
/* manages the show and hide of the
    two tables in the schedule  */

div#cTableCall{
    display:block;
    float:left;
    width:40%;
    height: 2em;
}

div#sTableCall{
    display:block;
    float:right;
    width:45%;
    height: 2em;
}



div#CostsTable {
    position:absolute;
    top: 18em;
    left: 3em;
    float:left;
    display:block;
}

#screeningTable {
    position:absolute;
    top: 18em;
    left: 3em;
    float:left;
    display:block;
}


span#costsTableCall:hover + div#CostsTable{
    display: block;
}




