.page{
    height: 45em;
}

div#timeTable,div#costsTable {
    position:absolute;
    top: 14em;
    left:3em;
    float:left;
    display:none;
}

div#CostsSelector{
    display:block;
    float:left;
    padding-left: 2em;
    width:40%;
    height: 2em;
}

span{
    font-size: 2em;
    color: Red;
}

span#spanCosts:hover + div#costsTable {
    display: inline;
    background-color: cadetblue;
}

div#timeSelector{
    display:block;
    float:right;
    width:45%;
    height: 2em;
    text-align: right;
}

span#spanTime:hover + div#timeTable {
    display: inline;
    background-color: cadetblue;

}

span:hover{
    font-size: 2.2em;
    color: gold;
    cursor: cell;
}

#footerFragment{
    position:absolute;
    top: 42em;
    left:0;
    width:100%;
}