
td {
    border-spacing: 0.5rem;
    padding: 0.5rem;
    text-align:center;
}
th {
    /*border: 2px solid darkgray;*/
    padding: 0.5rem;
    text-align: left;
}
.blankCell {
    background: cadetblue;
}

tr:nth-child(1) { background:#800000; }
tr:nth-child(2) { background:  #8D1400; }
tr:nth-child(3) { background:   #992900; }
tr:nth-child(4) { background:   #C67600; }
tr:nth-child(5) { background:  #CC8100; }
tr:nth-child(6) { background:  #D38C00; }
tr:nth-child(7) { background:   #D99600; }
tr:nth-child(8) { background: #E6AC00; }
tr:nth-child(9){ background: #F2C200; }
tr:nth-child(10) { background: #8D1400; }


/* specific for costs table  */

#costsTable > caption {
    caption-side: bottom;
    color: maroon;
    background-color:#D38C00;
    text-align: left;
    padding-left:2em;
}
#costsTable td{

    max-width: 7em;
}


/* specific for screen table  */
#screenTable td{
    max-width: 7em;
}
#kid{
    background: #E6AC00;
}
#for{
    background: #D38C00;
}
#romcom{
    background: #992900;
}
#act{
    background: #800000;
}


/*
http://www.w3schools.com/tags/ref_colormixer.asp
Colormixer Top color: #800000  Bottom color: #FFCC00
*/