
#pickTicketTable{
    background-color:cadetblue;

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding: .1em;
}

td {
    border: 2px solid darkgray;
    border-spacing: 0.5rem;
    padding: 0.5rem;
    text-align:center;
    background:goldenrod;
    min-width: 50px;
}
th {

    padding: 0.5rem;
    text-align: left;
}
.blankCell {
    border: 0;
    background: cadetblue;
}

tr{
    background:goldenrod;
}

tr:nth-child(1) { background:  #8D1400; }
tr:nth-child(2) { background:   #992900; }


 caption {
    caption-side: bottom;
    color: maroon;
    background-color:#D38C00;
    text-align: left;
    padding-left:2em;
}


.ticketValue:before{
    content:"$";
    }


/* button workings   */
 td {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding: .1em;
}



td:not(.blankCell):hover{
    -moz-box-shadow: 0 0 20px darkRed;
    -webkit-box-shadow: 0 0 20px darkRed;
    box-shadow: 0 0 20px darkRed;
    cursor: pointer;
}





